.box
{
border: 2px solid #000;
padding: 40px;
}

.a{ grid-area: ram;}
.b{ grid-area: b;}
.c{ grid-area: c;}
.d{ grid-area: d;}
.e{ grid-area: e;}
.f{ grid-area: f;}

.grid
{
    display: grid;
    grid-template-areas: 'ram ram ram ram' '. c b b' '. c d e' 'f f f f';
}